<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/font-awesome.min.css" /> 
	<link rel="stylesheet" href="../css/role.css" />     
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
 	<script type="text/javascript" src="../js/role.js"></script>
	<title>角色管理</title>
</head>
<body>
	<div id=main>
		<h2>权限管理</h2>
		<div id="container">
			<div class="out">
				<h4>帐户名</h4>
				<div id="user" class="roles">
				<table class="table table-bordered">
                    <!-- <thead>
                    <tr><th>帐户名</th>
                    </tr>
                    </thead> -->
                    <tbody >
                    <tr><td>Manager</td></tr>
                   <tr id="xgg"><td>xgg</td></tr>
                   <tr><td>樊斌</td></tr>
                   <tr><td>通仔</td></tr>
                   <tr><td>admin</td></tr>
                    </tbody>
                </table>
				</div>
			</div>			
			<div class="out">
				<h4>账户权限</h4>
				<div id="userrole" class="roles">
					<table class="table table-bordered" id="tab">               
	                   <tr><td>管理数据</td></tr>
	                   <tr><td>设置近期嘉宾</td></tr>
	                   <tr><td>添加管理员</td></tr>
	                   <tr><td>权限管理</td></tr>
	                   <tr><td>管理首页轮播</td></tr>
	                   <tr><td>热度设置</td></tr>
	                   <tr><td>留言审核</td></tr>
	                   <tr><td>论坛管理</td></tr>
	                   <tr><td>直播管理</td></tr>
                    </table>
				</div>
			</div>	
			<div id="btn">
				<button id="in" class=" btn btn-info fa fa-angle-double-left fa-3x"></button>
				<button id="out" class="btn btn-danger fa fa-angle-double-right fa-3x"></button>
			</div>
			<div class="out">
				<h4>全部权限</h4>
				<div id="role" class="roles">
					<table class="table table-bordered" id="tab1">
                    <tr><td>管理数据</td></tr>
                   <tr><td>设置近期嘉宾</td></tr>
                   <tr><td>添加管理员</td></tr>
                   <tr><td>权限管理</td></tr>
                   <tr><td>管理首页轮播</td></tr>
                   <tr><td>热度设置</td></tr>
                   <tr><td>留言审核</td></tr>
                   <tr><td>论坛管理</td></tr>
                   <tr><td>直播管理</td></tr>
                </table>
				</div>
			</div>	
		</div>
		
	</div>
</body>
</html>