@charset "UTF-8";
.nk-content {
	margin: 0 0 0 10px
}

.profile-info-wrapper {
	position: relative;
	margin-bottom: 10px;
	height: 100px;
	background: #fff;
	clear: both;
	border: 1px solid #e0e0e0;
	border-radius: 3px
}

.profile-info-wrapper .sex-ico {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 5px;
	background: url(../images/icon-sex.png) no-repeat
}

.profile-info-wrapper .female-ico {
	background-position: 0 -16px
}

.profile-info-wrapper .head-pic {
	width: 60px;
	height: 60px
}

.profile-info-main {
	float: left;
	padding: 20px 20px 0
}

.profile-info-cont {
	margin-left: 80px;
	padding-top: 5px
}

.profile-sign {
	background: #ebebeb;
	padding: 2px 5px;
	margin-left: 10px;
	vertical-align: middle;
	max-width: 25em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.profile-user-name {
	max-width: 14em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	vertical-align: middle;
	line-height: 1
}

.profile-cont {
	overflow: hidden;
	margin: 15px 0
}

.profile-cont li {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 11em
}

.profile-cont i {
	background: url(../images/icon-card.png) no-repeat;
	display: inline-block;
	width: 21px;
	height: 16px;
	vertical-align: text-bottom;
	margin-right: 2px
}

.profile-cont .ico-pcity {
	background-position: 0 0
}

.profile-cont .ico-pwork {
	background-position: 0 -35px
}

.profile-cont .ico-pedu {
	background-position: 0 -67px
}

.profile-cont .work-authentica {
	max-width: 20em
}

.work-authentica a {
	margin-left: 10px
}

.profile-cont .ico-auth {
	background: url(../images/icon-auth.png) no-repeat
}

.profile-oprt-box {
	position: absolute;
	right: 20px;
	top: 30px
}

.profile-oprt-box .btn {
	margin-left: 10px
}

.profile-oprt-box .fui-chat:before {
	font-size: 12px;
	margin-right: 5px
}

.profile-level {
	width: 10px;
	height: 100%;
	border-radius: 3px 0 0 3px;
	float: left
}

.level1 {
	background: #25bb9b
}

.profile-menu li {
	line-height: 40px;
	font-size: 14px;
	position: relative
}

.profile-menu a {
	display: block;
	position: relative
}

.profile-menu a.selected,
.profile-menu a:hover {
	background: #f6f6f6
}

.profile-menu .icon-angle-right {
	position: absolute;
	font-size: 16px;
	color: #d8d8d8;
	right: 10px;
	top: 12px
}

.profile-menu .profile-icon {
	margin-left: 30px;
	margin-right: 25px
}

.profile-menu .profile-menu-badge {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 12px;
	width: 30px;
	text-align: center;
	background: #f4f4f4;
	height: 16px;
	line-height: 16px;
	border-radius: 10px
}

.profile-menu .profile-menu-badge:hover {
	background: #e8f5f2;
	color: #25bb9b
}

.profile-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../images/icon-main4.png) no-repeat
}

.p-ico-home {
	background-position: 0 0
}

.p-ico-subject {
	background-position: 0 -35px
}

.p-ico-book {
	background-position: 0 -742px
}

.p-ico-class {
	background-position: 0 -76px
}

.p-ico-project {
	background-position: 0 -115px
}

.p-ico-answer {
	background-position: 0 -153px
}

.p-ico-ft {
	background-position: 0 -195px
}

.p-ico-ht {
	background-position: 0 -237px
}

.p-ico-sc {
	background-position: 0 -277px
}

.p-ico-resume {
	background-position: 0 -315px
}

.p-ico-info {
	background-position: 0 -355px
}

.p-ico-set {
	background-position: 0 -396px
}

.p-ico-interview {
	background-position: 0 -566px
}

.p-ico-note {
	background-position: 0 -604px
}

.p-ico-test {
	background-position: 0 -639px
}

.p-ico-pocket {
	background-position: 0 -674px
}

.p-ico-money {
	background-position: 0 -707px
}

.with-fixed-bar .profile-info-wrapper.fixed {
	height: 60px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, .1);
	position: fixed;
	width: 960px;
	top: 54px;
	z-index: 99
}

.with-validate .with-fixed-bar .profile-info-wrapper.fixed {
	top: 86px
}

.profile-info-wrapper.fixed .profile-info-main {
	padding-top: 10px
}

.profile-info-wrapper.fixed .head-pic {
	width: 40px;
	height: 40px
}

.profile-info-wrapper.fixed .profile-info-cont {
	margin-left: 50px;
	padding-top: 10px
}

.profile-info-wrapper .profile-noauth,
.profile-info-wrapper.fixed .profile-cont,
.profile-info-wrapper.fixed .profile-sign {
	display: none
}

.profile-info-wrapper.fixed .profile-noauth {
	display: inline
}

.profile-info-wrapper.fixed .profile-oprt-box {
	top: 12px
}

.module-head-oprt .search-input-wrap {
	height: 28px;
	line-height: 28px;
	width: 180px;
	margin-top: -5px
}

.module-head-oprt .search-input-wrap input {
	margin-left: 22px;
	padding: 3px;
	width: 145px
}

.module-head-oprt .search-input-wrap .ico-search {
	width: 25px;
	height: 25px
}

.change-photo {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: url(../images/photoHover.png) no-repeat;
	background-size: cover
}

.change-photo-placeholder {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 2px;
	top: 2px;
	z-index: 100
}

.profile-info-main .head-pic {
	position: relative
}

a.selected {
	color: #25bb9b
}

.help-wrapper .tooltip-info {
	min-width: 200px;
	max-width: 300px
}

.help-wrapper .tooltip .tooltip-inner {
	white-space: normal
}

.sign-mod {
	padding: 5px;
	color: #555;
	font-size: 14px
}

.sign-time {
	float: left;
	border-right: 1px dashed #eee;
	font-weight: 700;
	padding: 5px;
	text-align: center
}

.sign-week {
	font-size: 22px;
	line-height: 1.4
}

.sign-main {
	margin-left: 60px
}

.sign-info {
	width: 100px;
	text-align: center;
	float: left;
	padding: 5px 0
}

.sign-info p {
	margin-top: 4px
}

.sign-info span {
	font-weight: 700
}

.sign-main .btn {
	width: 80px;
	font-size: 14px;
	font-weight: 400;
	margin-top: 9px;
	height: 40px;
	line-height: 40px;
	padding: 0
}

.sign-head {
	text-align: center;
	margin-bottom: 10px
}

.sign-head li {
	display: inline-block
}

.sign-head li+li {
	margin-left: 22px
}

.sign-num {
	color: #393939;
	font-size: 14px;
	font-weight: 700;
	line-height: 2em
}

.sign-box {
	font-size: 0;
	margin-left: -4px
}

.sign-box li {
	display: inline-block;
	width: 20px;
	height: 10px;
	background: #e3e3e3;
	cursor: pointer;
	margin-left: 4px;
	margin-bottom: 4px
}

.sign-box .one-day {
	background: #d9ede9
}

.sign-box .two-day {
	background: #9ad4c8
}

.sign-box .three-day {
	background: #25bb9b
}

.sign-box .more-day {
	background: #1b8871
}

.paw-ico-achieve {
	background-position: 0 -430px
}

.paw-ico-badge {
	background-position: 0 -464px
}

.paw-ico-coins {
	background-position: 0 -499px
}

.paw-ico-follow {
	background-position: 0 -533px
}

.paw-wrapper {
	margin-right: -20px
}

.paw-mod {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	border-radius: 4px;
	width: 315px;
	border: 1px solid #ebebeb;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 125px
}

.paw-mod-full {
	width: 645px
}

.paw-mod:hover {
	border-color: #333;
	cursor: pointer
}

.paw-mod-hd {
	border-radius: 4px 4px 0 0;
	background: #f7f7f7;
	font-size: 16px;
	text-align: right;
	padding: 8px 20px;
	overflow: hidden
}

.paw-mod-hd h2 {
	font-size: 16px;
	font-weight: 700;
	float: left
}

.paw-mod .card-badge {
	float: none;
	padding: 30px 10px
}

.paw-mod .badge-item {
	margin-right: 5px
}

.web-statistics {
	padding: 20px 20px 10px;
	background: #fff
}

.web-statistics li {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.web-statistics li+li {
	margin-left: 20px
}

.ws-num {
	color: #888;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700
}

.sign-box {
	margin: 0 auto;
	width: 480px
}

.paw-mod-bd {
	padding: 30px 20px
}

.paw-bd-item+.paw-bd-item {
	border-left: 1px solid #666;
	padding-left: 10px;
	margin-left: 10px
}

.paw-num {
	margin-left: 15px;
	font-weight: 700
}

.paw-mod-hd .icon-desktop {
	margin-right: 5px;
	font-size: 14px
}

.paw-mod-tips {
	color: #888
}

.tech-icon-list {
	font-size: 0;
	margin-right: -20px
}

.tech-icon-item {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 11px;
	margin-bottom: 5px
}

.tech-icon-item img {
	width: 100%
}

.tech-icon-more,
.tech-icon-more:hover {
	background: #b7b7b7;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 12px
}

.tech-icon-more:hover {
	background: #00bc9b
}

.profile-match-mod {
	font-size: 14px;
	margin-bottom: 20px;
	background: #e2f4f1;
	padding: 10px
}

.profile-match-mod:hover .profile-match-title {
	color: #25bb9b;
	cursor: pointer
}

.profile-match-title {
	font-size: 16px;
	padding-left: 25px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/ico-match.png) 0 2px no-repeat
}

.profile-match-main {
	float: right;
	color: #aeb2b1
}

.profile-match-item {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px
}

.profile-match-num {
	font-weight: 700;
	color: #787878
}