body{
	background: #F5F5F5;
}
a:hover{
	text-decoration: none;
}
nav{
	background: #F5F5F5;
}
.container{
	width: 100%;
	/*background: #F5F5F5;*/
}

.showp{
	margin: 20px auto;
}
.showp-head{
	margin-left: 15px;
}
.showp-head>h3{
	display: inline-block;
}
.clearFix{
	float: right;
	position: relative;
	top: 11px;
	right: 15px;
	zoom: 1;/*兼容IE*/
}
/*清除浮动*/
.clearFix:after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.showp-more:hover{
	color: #FFC107;
}
.showp-con-right{
	width: 100%;
	margin: 0 auto;
	/*background: gainsboro;*/
}
.right-item{
	margin: 20px 0;
}
.person-img{
	width: 100%;
	height: 300px;
	border-radius: 10px 10px 0 0;
}
.person-info{
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}

#m_id{
	display:none;
}
#example{
	text-align: center;
}

#welcome,#out{
	display: none;
}
.person-img {
	width: 100%;
	height: 200px;
	border-radius: 10px 10px 0 0;
}
