server:
  port : 80
  tomcat:
    uri-encoding : UTF-8  
logging:
  level:
    root: INFO
    org: 
      springframework: ERROR
      spring: 
        springboot: 
          dao: INFO
cbs:
  imagesPath:file:C:/uploadimg/

spring:
  datasource:
    url : jdbc:mysql://localhost:3306/livinglibrary?useSSL=false
    username : root
    password : d514
    type: com.alibaba.druid.pool.DruidDataSource  
    driver-class-name: com.mysql.jdbc.Driver
    # 下面为连接池的补充设置，应用到上面所有数据源中
    # 初始化大小，最小，最大
    initialSize: 1
    minIdle: 3
    maxActive: 20
    # 配置获取连接等待超时的时间
    maxWait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 30000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    # 打开PSCache，并且指定每个连接上PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    # 合并多个DruidDataSource的监控数据
    #useGlobalDataSourceStat: true

  http:
    multipart:
      maxFileSize: 10Mb
      maxRequestSize: 100Mb
    encoding:
      force: true
      charset: UTF-8
      enabled: true
    
  thymeleaf: 
    content-type: text/html  
    cache: false  
    mode: LEGACYHTML5
jpa: 
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          auto: create
