<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<context id="context1">
		 <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/livinglibrary" userId="root" password="d514">
        </jdbcConnection>
		<javaModelGenerator targetPackage="com.livinglibrary.po" targetProject="livinglibrary" />
		<sqlMapGenerator targetPackage="com.livinglibrary.mapper" targetProject="livinglibrary" />
		<javaClientGenerator targetPackage="com.livinglibrary.mapper" targetProject="livinglibrary" type="XMLMAPPER" />
		<table schema="dbo"  tableName="%">
			<!-- <columnOverride column="" property="???" /> -->
		</table>
	</context>
</generatorConfiguration>